[Interface]
Address = {{ wg_my_addr }}

ListenPort = {{wg_my_port}}

PrivateKey = {{wg_server_private_key['content'] | b64decode}}

[Peer]
PublicKey = {{wg_client_pub_key}}

AllowedIPs = {{wg_client_ip}}
